{% extends 'base.html' %}

{% block content %}
    <div class="info">
        <p>
            Aplicativo para ocultação e revelação de mensagens escondidas em imagens.
        </p>
        <p>            
            Escolha a opção desejada:
        </p>
    </div>
    
    <div class="options">
        <div class="encode">
            <a href="/encode" class="options-link">
                <span class="material-symbols-outlined size-48">
                    upload_file
                </span>
                <span class="options-label">
                    Codificar Mensagem
                </span>
            </a>
        </div>
        <div class="decode">
            <a href="/decode" class="options-link">
                <span class="material-symbols-outlined">
                    sim_card_download
                </span>
                <span class="options-label">
                    Decodificar Mensagem
                </span>
            </a>
        </div>
    </div>
{% endblock %}